.mainApp{
    border: 1px solid black;
    width:80%;
    height:600px;
    margin: 0 auto;
    display: flex;
}

.categoryField{
    width: 40%;
    background-color: lightblue;
    height:100%;
}

.toDosField{
    background-color: lightyellow;
    height:100%;
    width: 60%;
}

.activeCategory{
    color: red;
}

.completedTask{
    text-decoration:line-through;
    color:red;
}

.activeCategoryItem{
    font-size: 2em;
    color: green;
}